.main {
  .main-container {
    padding: 0px;
  }
  .alarms-container {
    background-color: white;
    border-right: 1px solid #c8ced3;
  }
  .events-container {
    background-color: white;
    border-left: 1px solid #c8ced3;
  }
}


